<ion-header>
  <ion-toolbar>
    <ion-title>add-class</ion-title>
    <ion-icon class="modal-close" name="close" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="add-class-container">
    <form (submit)="onAddClass()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item class="login-input-wrapper">
              <ion-icon name="school"></ion-icon>
              <ion-input
                class="add-class-name"
                name="addclass"
                type="text"
                placeholder="Class Name"
                [(ngModel)]="class.name"
              >
              </ion-input>
            </ion-item>
            <ion-item class="mt-2">
              <ion-select
                [(ngModel)]="class.year"
                name="year"
                placeholder="Year"
              >
                <ion-select-option value="I">1st</ion-select-option>
                <ion-select-option value="II">2nd</ion-select-option>
                <ion-select-option value="III">3rd</ion-select-option>
                <ion-select-option value="IV">4th</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="mt-2">
              <ion-select
                [(ngModel)]="class.semester"
                name="semester"
                placeholder="Semester"
              >
                <ion-select-option value="I">1st</ion-select-option>
                <ion-select-option value="II">2nd</ion-select-option>
                <ion-select-option value="III">3rd</ion-select-option>
                <ion-select-option value="IV">4th</ion-select-option>
                <ion-select-option value="V">5th</ion-select-option>
                <ion-select-option value="VI">6th</ion-select-option>
                <ion-select-option value="VII">7th</ion-select-option>
                <ion-select-option value="VIII">8th</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              class="login-btn"
              size="large"
              type="submit"
              expand="block"
            >
              Create
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-grid>
</ion-content>
