<ion-header>
  <ion-toolbar>
    <ion-title>add-class</ion-title>
    <ion-icon class="modal-close" name="close" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="login-input-wrapper">
          <ion-icon name="school"></ion-icon>
          <ion-input
            class="add-class-name"
            name="add-class"
            type="text"
            placeholder="Class Name"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="class-container" lines="none">
    <ion-list-header>
      <ion-label>Students List</ion-label>
    </ion-list-header>
    <ion-item class="class-item ion-activatable">
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-input
        class="student-name"
        name="add-student"
        type="text"
        placeholder="Student Name"
      >
      </ion-input>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <ion-item class="class-item ion-activatable">
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-input
        class="student-name"
        name="add-student"
        type="text"
        placeholder="Student Name"
      >
      </ion-input>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
    <ion-item class="class-item ion-activatable">
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-input
        class="student-name"
        name="add-student"
        type="text"
        placeholder="Student Name"
      >
      </ion-input>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="login-btn" size="large" type="submit" expand="block">
          Create
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="add-btn ion-activatable">
    <ion-icon name="add"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ion-content>
