.modal-close {
  position: absolute;
  right: 10px;
  bottom: 14px;
  font-size: 26px;
}
.class-item:not(:first-of-type) {
  margin-top: 20px;
}
.create-btn-wrapper {
  position: fixed;
  bottom: 20px;
  width: 100%;
}
.add-class-container {
  overflow: auto;
  height: 78vh;
  position: relative;
}
