<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="competition-detail-page">
    <ion-grid>
      <ion-card no-border class="competition-detail-card">
        <ion-card-header>
          <ion-avatar class="profile-img picture-empty">
            <img src="../../assets/profile-avatar.png" />
          </ion-avatar>
        </ion-card-header>
        <ion-card-content>
          <ion-grid class="detail-list">
            <ion-row class="detail-list-item-wrapper">
              <ion-col size="12">
                <ion-item class="login-input-wrapper">
                  <ion-icon name="person"></ion-icon>
                  <ion-text> iamteacher </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="detail-list-item-wrapper">
              <ion-col size="12">
                <ion-item class="login-input-wrapper">
                  <ion-icon name="person"></ion-icon>
                  <ion-text> teacher </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button [routerLink]="['/sign-in']" class="btn btn-purple"
                  >Logout</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-grid>
</ion-content>
