<ion-header>
  <ion-toolbar>
    <ion-title>attendance-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="classList == false" class="empty-item-message">
    No Attendance List
  </ion-grid>
  <ion-list *ngIf="classList !== []" class="class-container" lines="none">
    <a *ngFor="let class of classList; let i = index" [routerLink]="['/take-attendance', i, selectedDate]">
      <ion-item class="class-item ion-activatable">
        <ion-icon slot="start" color="medium" name="qr-scanner"></ion-icon>
        <ion-label>{{class.name}}-{{class.year}} Semester-{{class.semester}}</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </a>
  </ion-list>
</ion-content>